*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial";
}
.get-started{
    margin: 10px auto 0;
    width: 300px;
    height: 50px;
    .start{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: none;
        background-color: #17679A;
        font-size: 30px;
        color: white;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .start:hover{
        background-color: #03488D;
        width: 110%;
        height: 110%;
        margin-left:  -15px;
    }
}
.container{
    display: none;
    width: 65%;
    height: 65vh;
    background-color: #aeaeae;
    padding: 15px;
    margin: 100px auto 0;
    font-family: "ِArial";
    border-radius: 10px;
    opacity: 85%;
    position: relative;
    .question{
        border-bottom: 2px solid black;
        padding: 5px;
        font-size: 24px;
        color: #001731;
    }
    .answers{
        .answer{
            width: 100%;
            height: 50px;
            border: 1px solid gray;
            padding-left: 10px;
            line-height: 50px;
            margin: 10px 0;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .apply{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .next{
            width: 96.5%;
            height: 40px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            background-color: #031C3A;
            color: white;
            font-size: 23px;
            margin: 10px 0;
            position: absolute;
            left: 15px;
            bottom: 10px;
        }
    }
    .lose{
        color: red;
        font-size: 165px;
        text-align: center;
        font-family: "Arial";
        line-height: 300px;
    }
    .wins{
        text-align: center;
        position: relative;
        font-size: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: green;
        font-family: "Arial";
        .play-again{
            width: 30%;
            height: 8vh;
            font-size: 35px;
            color: white;
            background-color: #001731;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
        .play-again:hover{
            background-color: #03488D;
            width: 35%;
            height: 10vh;
            margin-left:  -15px;
        }
    }
}

@media screen and (max-width: 768px) {
    body{
        background-size: 100% 150%;
    }
    .get-started{
        text-align: center;
        width: 400px;
        height: 60px;
        .start{
            font-size: 33px;
            width: 50%;
        }
    }
    .container{
        width: 90%;
        height: 75vh;
        padding: 20px;
        .question{
            padding: 10px;
            font-size: 26px;
        }
        .answers{
            div{
                height: 60px;
                padding-left: 20px;
                line-height: 60px;
            }
        }
        .apply{
            .next{
                height: 50px;
                font-size: 25px;
            }
        }
        .lose{
            font-size: 70px;
            line-height: 200px;
        }
        .again{
            margin: 0;
        }
        .wins{
            font-size: 90px;
            .play-again{
                width: 35%;
            }
            .play-again:hover{
                width: 40%;
            }
        }
    }
}